<!DOCTYPE html>
<html>

<head>

  <title>API Docs</title>

  <!-- needed for mobile devices -->

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <redoc spec-url="swagger"></redoc>

  <script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"></script>

</body>

</html>

